.order-option__label{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.order-option__options{
  padding-bottom: 12px;
}

.order-option__options > div{
  padding: 8px;
}

.order-option__label svg{
  position: absolute;
  right: 8px;

}

.order-pane{
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.order-section{
  flex: 1;
  padding-left: 33px;
  padding-right: 33px;
}

.order-action{
  display: flex;
  align-items: flex-end;
  padding-right: 8px;
  padding-left: 8px;
  justify-content: space-between;
}


.order-options{

}
